

@import url("fonts.css");
@import url("console.css");
@import url("tooltip.css");
@import url("scheduling.css");

html, body {
	margin: 0;
	padding: 0;
}

h1, h2 {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 10px;
	padding-top: 10px;
}

h2 a {
	color: #4b8100;
	text-decoration: none;
}

li a {
	font-size: 10px;
}

#container {
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
}

#header {
	width: 100%;
}

#footer {
	font-family: arial;
	font-size: 12px;
	padding-bottom: 60px;
	padding-right: 20px;
	padding-top: 5px;
	text-align: right;
}

#footer a {
	color: black;
}

#footer a:hover {
	background: #649600;
	color: white;
}

#warning {
	background: black;
	color: white;
	font-family: cursive;
	font-size: 26px;
	padding: 20px;
	text-align: center;
}

.header_left {
	background:red;
	display:inline-block;
	float: left;
	height: 94px;
	vertical-align: middle;
}

.header_center {
	color: #7bb119;
	padding-top: 15px;
	text-align: center;
}

.header_center_content {
	display: inline-block;
	height: 94px;
}

.topborder {
	border-color: #327E04;
	border-left: solid 1px;
	border-right: solid 1px;
	border-top: solid 1px;
}

.bottomborder {
	border: solid 1px;
	border-color: #327E04;
}

.floatLeft {
	float: left;
}

.clearFix {
	clear: both;}

.header {
	font-weight: bold;
}

.invisible {
	display: none;
	visibility: hidden;
}

.ui-tabs .ui-tabs-panel {
    padding: 10px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}